div#recommendations {
        margin: 0 5px 1rem;
}

a#recommendations,
a#recommendations:visited,
a#recommendations:visited {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .desktop_view {
        display: none;
    }
    .mobile_view {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .desktop_view {
        display: block;
    }
    .mobile_view {
        display: none;
    }
}